//--------------------------------------------------------------
// Admin Overrides & Styles
//--------------------------------------------------------------

.is-root-container {
	@apply text-base leading-normal flex-row;

	.cards {
		@apply flex-wrap min-w-full;
		.card {
			@apply h-auto w-full;
			&.card-first,
			&.card-last {
				@apply hidden;
			}
		}
	}
}

/* Main column width */
.wp-block {
	width: 100%;
	max-width: 100%;
	@apply px-0;
}

/* Width of "wide" blocks */
.wp-block[data-align='wide'] {
	max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align='full'] {
	max-width: none;
}
// admin bar links custom
.admin-links {
	@apply fixed top-0 left-0 z-50 flex text-14 text-center rounded-br-md overflow-hidden;
	.screen-guide {
		@apply px-5 bg-black opacity-50 text-gray-light text-opacity-50;
	}
	.px-guide-outer {
		@apply px-5 bg-black opacity-50;
		color: rgb( 131 131 131 );
	}
	a {
		@apply px-5 bg-black opacity-50 text-gray-light my-0;
		&:hover {
			@apply opacity-100 text-white;
		}
	}
}
