// Required Core Stylesheet
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

// Optional Theme Stylesheet
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

/* stylelint-disable selector-class-pattern */
.glide {
	@apply relative;
	.glide__arrows {
		@apply absolute flex z-10;
		@at-root .home-slider & {
			@apply bottom-20 -left-10 container pr-0;
		}
		> div {
			@apply px-10 py-20 text-gray-medium transition-colors duration-200 cursor-pointer transform-gpu origin-center;
			&:hover {
				@apply text-white;
			}
			&:active {
				@apply scale-95;
			}
		}
	}
	.glide__controls {
		@apply text-gray-medium  md:text-24 absolute flex z-10 top-32 left-0 right-0 transform translate-x-0;
		@apply justify-start md:justify-center;
		bottom: initial;
		width: 200vw;
		@screen md {
			@apply w-full;
		}
		> div {
			@apply relative p-20 cursor-pointer;
			&::after {
				@apply absolute left-20 right-20 bottom-10 h-px bg-transparent transform-gpu -translate-y-10 transition-all duration-1000;
				content: '';
			}
			&:not( :last-child ) {
				@apply mr-0;
			}
			&.glide__bullet--active {
				@apply text-white bg-transparent;
				&::after {
					@apply translate-y-0 bg-white;
				}
			}
		}
	}
	.glide__track {
		.glide__slides {
			@apply list-none m-0;
			.glide__slide {
				@apply text-20;
			}
		}
	}
}
.recipes-carousel {
	@apply relative;
	@screen md {
		@apply container;
	}
	@screen lg {
		@apply mx-auto;
		max-width: 1400px;
	}
	.glide--swipeable {
		@screen md {
			cursor: inherit;
		}
	}
	.glide__slides {
		@apply md:items-center;

		.glide__slide {
			.recipes-carousel-image {
				@apply mb-16 transform-gpu scale-75 md:scale-100 transition-transform;
				@screen md {
					height: 30vw;
				}
				img {
					@apply object-cover object-center w-full h-full;
				}
			}
			.recipes-carousel-content {
				@apply transform-gpu transition-transform;
				--tw-translate-x: 12%;
				--tw-translate-y: -100%;
				@screen md {
					--tw-translate-x: 0;
					--tw-translate-y: 0;
				}
			}
			&.glide__slide--active {
				.recipes-carousel-image {
					@apply scale-100;
					@screen md {
						height: 40vw;
						@apply relative;
						left: -15%;
						width: 130%;
					}
					@screen lg {
						left: -10%;
						width: 120%;
					}
					@screen xl {
						left: -5%;
						width: 110%;
					}
				}
				.recipes-carousel-content {
					@apply translate-y-0 translate-x-0;
					@screen md {
						@apply relative;
						left: -15%;
						width: 130%;
					}
					@screen lg {
						left: -10%;
						width: 120%;
					}
					@screen xl {
						left: -5%;
						width: 110%;
					}
				}
			}
		}
	}
}
.product-carousel {
	@apply overflow-hidden;
	&.carousel-transparent {
		.glide__controls {
			> div {
				&.glide__bullet--active {
					@apply text-brown-dark bg-transparent;
					&::after {
						@apply translate-y-0 bg-brown-dark;
					}
				}
			}
		}
		.glide__arrows > div {
			@apply text-brown;
			&:hover {
				@apply text-brown-dark;
			}
		}
		.slide-inner {
			@apply text-brown-dark;
			.slide-img {
				@apply bg-tan top-1/4 bottom-1/4;
				img {
					@apply mix-blend-multiply w-auto mx-auto h-full;
				}
			}
		}
	}
	.slide-inner {
		@apply container relative text-white;
		padding-top: 80vh;
		max-height: calc( 100vh - 12.5rem );

		@screen md {
			padding-top: 56vw;
			@apply container-l;
		}

		.slide-img {
			@apply absolute inset-0;
			img {
				@apply max-w-none object-fill object-center min-w-full h-full;
			}
		}
		&-content {
			@apply absolute bottom-100 z-10 pr-30 md:pr-0;
			&-title {
				@apply text-28 md:text-60;
			}
			&-p {
				@apply md:text-24 md:w-2/3;
				@screen lg {
					@apply w-1/2;
				}
				@screen xl {
					@apply w-2/5;
				}
			}
		}
		&-gradient {
			@apply absolute top-0 left-0 right-0 bg-gradient-to-b from-black z-10 opacity-60;
			bottom: 60%;
			&.gradient-bottom {
				@apply bg-gradient-to-r top-0 left-0 bottom-0;
				right: 25%;
			}
		}
	}
}
/* stylelint-enable selector-class-pattern */
