// Required Core Stylesheet
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

// Optional Theme Stylesheet
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

/* stylelint-disable selector-class-pattern */
.glide {
	@apply relative;
	.glide__arrows {
		@apply absolute flex z-10;
		@at-root .home-slider & {
			@apply bottom-20 -left-10 container pr-0 w-auto;
		}
		> div {
			@apply px-10 py-20 text-gray-medium transition-colors duration-200 cursor-pointer transform-gpu origin-center;
			&:hover {
				@apply text-white;
			}
			&:active {
				@apply scale-95;
			}
		}
	}
	.glide__controls {
		@apply text-gray-medium  md:text-24 absolute flex z-10 top-32 left-40 md:left-0 right-40 md:right-0 transform translate-x-0;
		@apply w-auto md:w-full;
		@apply justify-center;
		bottom: initial;

		> div {
			@apply relative px-8 md:px-20 py-20 cursor-pointer;
			&::after {
				@apply absolute left-8 right-8 md:left-20 md:right-20 bottom-10 h-px bg-transparent;
				@apply transform-gpu -translate-y-10 transition-all duration-1000;
				content: '';
			}
			&:not( :last-child ) {
				@apply mr-0;
			}
			&.glide__bullet--active {
				@apply text-white bg-transparent;
				&::after {
					@apply translate-y-0 bg-white;
				}
			}
		}
	}
	.glide__track {
		.glide__slides {
			@apply list-none m-0;
			.glide__slide {
				@apply text-20;
			}
		}
	}
}
.recipes-carousel-image {
	height: 30rem;
	@apply relative;
	@apply mb-24;
	@screen md {
		height: 40rem;
	}

	img {
		@apply absolute inset-0 object-cover md:relative h-full;
	}
}
.recipes-carousell {
	@apply relative;
	@screen md {
		@apply container;
	}
	@screen lg {
		@apply mx-auto;
		max-width: 1400px;
	}
	.glide--swipeable {
		@screen md {
			cursor: inherit;
		}
	}
	.glide__slides {
		@apply md:items-center;

		.glide__slide {
			.recipes-carousel-image {
				@apply mb-16 transform-gpu scale-75 md:scale-100 transition-transform;
				@screen md {
					height: 30vw;
				}
				img {
					@apply object-cover object-center w-full h-full;
				}
			}
			.recipes-carousel-content {
				@apply transform-gpu transition-transform;
				--tw-translate-x: 12%;
				--tw-translate-y: -100%;
				@screen md {
					--tw-translate-x: 0;
					--tw-translate-y: 0;
				}
			}
			&.glide__slide--active {
				.recipes-carousel-image {
					@apply scale-100;
					@screen md {
						height: 40vw;
						@apply relative;
					}
				}
				.recipes-carousel-content {
					@apply translate-y-0 translate-x-0;
				}
			}
		}
	}
}

/* stylelint-enable selector-class-pattern */
