//--------------------------------------------------------------
// Menus and Sub-Menus
//--------------------------------------------------------------
.navigation-menu {
	@apply hidden;

	@screen md {
		@apply flex items-center;
	}

	.menu {
		@apply flex;

		> li {
			@apply pr-36 transition-colors;
			a {
				@apply block transition-colors text-current whitespace-nowrap;

				border-bottom: 1px solid transparent;
			}
			&.products-trigger a {
				border-bottom: 1px solid transparent;
				&:hover {
					border-bottom-color: currentColor;
				}
				@at-root .product-menu-active & {
					border-bottom-color: currentColor;
				}
			}
			@at-root &.menu-item-active {
				@apply text-brown-dark;
			}
		}
		> div > .menu-item {
			&.menu-item-active {
				@apply text-brown-dark bg-warning;
			}
		}
		&.menu-right {
			> li {
				@apply pr-0 pl-36;
			}
		}
	}

	.sub-menu {
		@apply bg-white py-8 absolute shadow-default;

		left: -999em;
		top: theme( 'spacing.24' );
		z-index: 99999;

		li {
			@apply px-24 py-8;
		}

		.menu-item-has-children {
			&:hover,
			&.focus {
				> .sub-menu {
					left: 100%;
				}
			}
		}
	}
}

//-----------------------------------------
// Menu Items With Children
//-----------------------------------------
.menu-item-has-children {
	@apply relative;

	&:hover,
	&.focus {
		> .sub-menu {
			@apply left-0;
		}
	}
}

//-----------------------------------------
// Dropdown Styles
//-----------------------------------------
.dropdown {
	ul {
		li {
			@apply w-full;
		}

		a {
			@apply block w-full;

			min-width: theme( 'width.192' );
		}
	}
}

//-----------------------------------------
// The Down Caret
//-----------------------------------------
.caret-down {
	@apply block float-right h-full ml-8;

	background: url( ../images/icons/caret-down.svg ) 50% 50% no-repeat;
	background-size: 100%;
	width: theme( 'spacing.8' );
}

//-----------------------------------------
// Footer
//-----------------------------------------
.footer-navigation {
	.menu {
		@apply block;

		@screen tablet-landscape {
			@apply flex;
		}
	}
}
