.home-intro {
	.intro {
		@extend .container;
		@apply relative flex flex-col md:flex-row py-50 md:py-150 items-center overflow-hidden;
		&-left {
			@apply relative w-2/3 self-start md:self-end -left-1/4 order-3 md:order-1 hidden md:block;
			padding-top: 75%;
			@screen md {
				@apply pt-0 left-0 w-1/4 h-auto;
			}
			&-a {
				@apply absolute;
				left: 20%;
				right: 20%;
				top: 0;
				z-index: 1;
				@screen md {
					@apply relative w-2/3 left-1/4 -top-120 md:-top-100;
				}
			}
			&-b {
				@apply absolute bottom-0 w-full;
				@screen md {
					@apply w-full;
				}
			}
		}
		&-right {
			@apply relative w-2/3 self-end -right-1/4 order-1 md:order-3 hidden md:block;
			padding-top: 75%;
			@screen md {
				@apply pt-0 w-1/4 self-start h-auto right-0;
			}
			&-a {
				@apply absolute top-0 w-full;
				@screen md {
					@apply w-full;
				}
			}
			&-b {
				@apply absolute;
				left: 26%;
				top: 10%;
				@screen md {
					@apply relative w-2/3 left-1/4 top-1/4 mt-40;
				}
			}
		}
		&-content {
			@apply md:w-1/2 py-150 text-center order-2;
			&-inner {
				@apply relative;
				&::after {
					@screen md {
						content: '';
						@apply absolute w-px bg-brown-dark h-120;
					}
				}
				h2 {
					@apply text-44 md:text-80 font-serif text-center md:mb-0 leading-relaxed mb-5;
					span {
						@apply block text-16 md:text-24 font-sans;
					}
				}
				p {
					@apply text-20 md:text-24 font-sans-alt mx-0 md:mx-50 xl:mx-100 md:pb-30;
				}
			}
		}
		&-image {
			img {
				@apply rounded-lg w-full;
			}
			@apply overflow-hidden;
			line-height: 0;
		}
	}
}
