/* stylelint-disable selector-class-pattern */
.home-slider {
	@apply relative;
	.glide__arrows {
		@apply hidden md:flex w-auto;
	}

	.product-carousel {
		@apply overflow-hidden;

		.slide-inner {
			@apply container relative text-white;
			padding-top: 60rem;

			@screen md {
				padding-top: 56vw;
				@apply container-l;
			}

			.slide-img {
				@apply absolute inset-0;
				&-image {
					@apply bg-cover bg-center absolute inset-0;
				}
			}
			&-content {
				@apply absolute bottom-100 z-10 pr-30 md:pr-0;
				@apply container w-full left-0 bottom-40;
				&-title {
					@apply text-28 md:text-60;
				}
				&-p {
					@apply md:text-24 md:w-2/3;
					@screen lg {
						@apply w-4/5;
					}
					@screen xl {
						@apply w-2/5;
					}
				}
				&-inner {
					@apply flex flex-col md:flex-row justify-start md:justify-between;
					&-left {
						@apply mb-32 md:mb-50;
					}
					.btn {
						@apply self-start md:self-end relative z-20;
					}
				}
			}
			&-gradient {
				@apply absolute top-0 left-0 right-0 bg-gradient-to-b from-black z-10 opacity-60;
				bottom: 60%;
				&.gradient-bottom {
					@apply bg-gradient-to-r top-0 left-0 bottom-0;
					right: 25%;
				}
			}
		}
	}
}


@screen md {
	.home-hero .hero-content-subtitle {
		width: 40%;
	}
}

/* stylelint-enable selector-class-pattern */
