/* stylelint-disable selector-class-pattern */
.focus-carousel {
	@apply relative my-100;
	@screen md {
		@apply container;
	}
	@screen lg {
		@apply mx-auto;
		max-width: 1800px;
	}

	&.testimonial {
		.glide__slides .glide__slide .focus-carousel-content {
			--tw-translate-y: -35%;
			--tw-translate-x: 15%;
			@screen md {
				--tw-translate-x: 0;
				--tw-translate-y: 0;
				max-width: none;
			}
			&-name {
				@apply font-sans-alt mt-20;
			}
		}
	}
	&.static-on-desktop {
		.glide--swipeable {
			@screen md {
				cursor: inherit;
			}
			.glide__arrows{
				@apply md:hidden;
			}
		}
		/* stylelint-disable declaration-no-important */
		@screen md{
			.glide__slides{
				transform: translate3d(0, 0, 0) !important;
			}
		}
		/* stylelint-enable declaration-no-important */
		.focus-carousel-blocker{
			@screen md{
				@apply absolute inset-0 z-30;
			}
		}
		.glide__arrows{
			@apply hidden;

		}
	}
	&.slide-on-desktop{
		.glide__arrows{
			@apply absolute top-1/2 -left-60 -right-60 z-0 justify-between hidden md:flex transform-gpu -translate-y-full;
			> div {
				&:hover {
					@apply text-brown-dark;
				}
				&:active {
					@apply scale-95;
				}
			}
		}
	}

	.glide__slides {
		@apply md:items-center md:overflow-visible overflow-hidden;

		.glide__slide {
			@apply transform-gpu md:scale-90 transition-transform;
			--tw-scale-x: 0.85;
			--tw-scale-y: 0.85;

			.focus-carousel-image {
				@apply mb-16;
				height: 30rem;
				@screen md {
					height: 40rem;
				}
				img {
					@apply object-cover object-center w-full h-full;
				}
			}
			.focus-carousel-content {
				--tw-translate-x: 12%;
				--tw-translate-y: -100%;
				@screen md {
					--tw-translate-x: 12%;
					--tw-translate-y: -4rem;
				}
			}
			&.glide__slide--active {
				@apply scale-100;


			}
		}
	}
}
/* stylelint-enable selector-class-pattern */
