.section-hero {
	@apply flex flex-col md:flex-row justify-between text-brown-dark;

	&-info {
		@apply container;
		@apply lg:px-120;
		@apply relative z-10 flex-none mx-0 md:mt-100 md:mb-200 order-2 md:order-1;

		@screen md {
			@apply w-1/2 mx-auto;
			max-width: 56rem;
		}
		&-pretitle {
			@apply md:text-24 font-sans-alt;
		}
		&-description {
			@apply md:text-24;
			&:last-child {
				@apply mb-50 md:mb-0;
			}
		}
		h1 {
			@apply text-48 md:text-80;
		}
		&-line {
			@apply absolute left-1/2 w-px bg-brown;
			height: 40%;
			top: 100%;
			@at-root .page-id-19 & {
				@apply hidden;
			}
		}
	}
	&-bg {
		@apply relative w-full order-1 md:order-2;
		height: 141vw;

		@screen md {
			height: 50rem;
			width: 50%;
		}

		&-circle-overlay {
			@apply absolute bg-tan -bottom-px left-0 right-0 w-full;
			height: 3rem;
			border-top-left-radius: 4rem;
			@screen md {
				@apply hidden;
			}
		}
	}
	&-image {
		@apply absolute inset-0 top-0 bg-cover bg-top md:bg-center;
		@screen md {
			border-top-left-radius: 31.25rem;
		}
	}
}
