/* stylelint-disable selector-class-pattern */
.before-after-carousel {
	@apply relative container my-72 md:my-160;
	&-content {
		@apply flex flex-col md:flex-row justify-between;
		&-image {
			@apply w-full md:w-2/5 order-1 md:order-2 self-start;
			order: 2;
			position: relative;
			overflow: hidden;
			img {
				@apply w-full;
			}
			.rouded-edge {
				@apply bg-primary;
				@apply absolute bottom-0 right-0 w-1/2 pt-40 p-20 pl-40;
				border-top-left-radius: 5rem;
			}
		}
		&-text {
			@apply md:w-1/2 my-20 md:my-0 order-2 md:order-1;
			&-quote {
				@apply text-28 md:text-40 lg:text-60 leading-tight;
			}
		}
	}
	.glide {
		@apply pb-40 md:pb-0;
		.glide__arrows {
			@apply pl-0 -bottom-30 md:-bottom-40;
			> div {
				@apply text-brown text-opacity-50 hover:text-opacity-100;
			}
		}
	}
}

/* stylelint-enable selector-class-pattern */
