.section-hero {
	@apply flex flex-col md:flex-row justify-between text-brown-dark;
	@screen md {
		@apply container;
		@apply pr-0;
	}
	&-info {
		@apply container;
		@apply relative z-10 flex-none mx-0 md:mr-80 -mt-30 md:mt-100 md:mb-200 order-2 md:order-1;
		@screen md {
			@apply w-1/2 px-0;
		}
		&-pretitle {
			@apply md:text-24 font-sans-alt;
		}
		&-description {
			@apply md:text-24 lg:w-3/4;
			&:last-child {
				@apply mb-50 md:mb-0;
			}
		}
		h1 {
			@apply text-48 md:text-100;
		}
		&-line {
			@apply absolute left-1/2 w-px bg-brown;
			height: 40%;
			top: 100%;
		}
	}
	&-bg {
		@apply relative w-full order-1 md:order-2;
		height: 30rem;
		height: calc( 100vh - 20rem );
		min-height: 30rem;
		max-height: 62rem;
		@screen md {
			height: 40rem;
			height: calc( 100vh - 12.5rem );
		}

		@screen lg {
			min-height: 50rem;
			width: 50%;
		}
		&-circle-overlay {
			@apply absolute bg-tan -bottom-px left-0 right-0 h-150 w-full;
			border-top-left-radius: 9.375rem;
			@screen md {
				@apply hidden;
			}
		}
	}
	&-image {
		@apply absolute inset-0 top-60 md:top-0 bg-cover bg-top md:bg-center bg-fixed md:bg-scroll;
		@screen md {
			border-top-left-radius: 31.25rem;
		}
	}
}
