.cards {
	&-container {
		@apply overflow-x-hidden;
	}
	@apply flex  flex-nowrap;
	.card {
		@apply h-screen flex-shrink-0 flex items-center;

		&-first {
			@apply ml-50 md:ml-100;
		}

		&-last {
			width: 30vw;
		}
		&:not( .card-last ) {
			@apply mr-30;
		}

		&-inner {
			@apply bg-cover bg-center relative  rounded-xl overflow-hidden flex items-end;

			height: 80vw;
			width: 80vw;
			max-width: 60rem;
			max-height: 60rem;
			@screen md {
				height: 43vw;
				width: 60vw;
			}
		}
		&-bg {
			@apply absolute inset-0;
		}
		&-gradient {
			@apply absolute inset-0 bg-gradient-to-t from-black opacity-60;
		}
		&-content {
			@apply relative p-40 md:pl-80 md:pb-80 md:pr-20 text-white;
			&-title {
				@apply text-32 md:text-48;
			}
			&-p {
				@apply mb-0 lg:w-1/2;
			}
		}
	}
}
