.what-is-inner {
	@apply container my-100;
	.sc-items {
		@apply flex items-start flex-wrap lg:flex-nowrap justify-center;
	}
}
.showcase {
	@apply text-center;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	svg {
		margin: auto;
		margin-bottom: 30px;
	}
	h4 {
		margin: auto;
		font-size: 20px;
	}
	p {
		font-size: 17px;
		margin-top: 15px;
		color: #acabaa;
		line-height: 26px;
	}
}
.sc-content {
	max-width: 1120px;
	@apply my-100 text-24 md:text-32 text-center mx-auto font-serif;
}
.sc-title {
	@apply m-0 text-center font-sans-alt;
	h4 {
		@apply font-sans-alt md:text-28 leading-none py-20 border-t border-b;
	}
}

@screen sm {
	.showcase {
		margin-bottom: 50px;
	}
}

@screen xl {
	.sc-content {
		padding: 120px 1px;
	}
}
