@font-face {
	font-display: swap;
	font-style: normal;
	font-family: basis-grotesque;
	font-weight: 400;
	src: url( ../fonts/basis-grotesque-regular.woff ) format( 'woff' );
}
@font-face {
	font-display: swap;
	font-style: normal;
	font-family: basis-grotesque;
	font-weight: 700;
	src: url( ../fonts/basis-grotesque-bold.woff ) format( 'woff' );
}
