//--------------------------------------------------------------
// Global Site Footer
//--------------------------------------------------------------
.site-footer {
	@apply bg-white pt-50 md:pt-100 overflow-hidden;

	.footer-info {
		@apply flex justify-between flex-col lg:flex-row;

		.footer-info-first {
			@apply flex flex-col md:flex-row items-center md:mb-50 lg:mb-0 lg:items-start lg:mr-30;
		}
		&-logo {
			@apply text-primary relative w-120 h-120 flex-none;

			@screen lg {
				top: -0.45rem;
				width: 7.125rem;
				height: 7.125rem;
			}
			svg {
				@apply w-120 h-120;

				@screen lg {
					width: 7.125rem;
					height: 7.125rem;
					@apply max-w-full;
				}
			}
		}
		&-slogan {
			@apply text-center md:text-left my-50 md:my-0 md:ml-50 xl:ml-160 font-sans-alt text-20 md:text-24 xl:text-28 leading-snug;
			@screen lg {
				max-width: 27.875rem;
			}
		}
		&-support {
			@apply flex justify-between;
			@screen lg {
				max-width: 50%;
			}
			&-hours {
				@apply w-6/12 mr-30 md:mr-50;
				@screen xl {
					@apply w-auto;
					margin-right: 10.625rem;
				}
			}
			&-telephone {
				@apply w-6/12 flex-none;
				@screen md {
					@apply w-auto;
				}
			}
		}
	}
	.site-info {
		@apply mx-auto my-0 flex justify-between;
	}
	.footer-line,
	.footer-line-bottom {
		@apply w-full h-px;
		background-color: #d1d1cf;
	}
	.footer-line {
		@apply my-50 md:mt-120 md:mb-100;
	}
	.footer-line-bottom {
		@apply mt-60 mb-60;
	}
}
.footer-bottom {
	@apply text-gray-medium flex text-16 justify-between mb-60;
	.footer-copyright {
		@apply flex-nowrap;
	}
	.footer-location {
		@apply mr-160 hidden sm:block;
	}
}
.social-links {
	@apply text-gray-medium flex;
	> a:not( .duh ) {
		@apply block w-26 h-26 ml-10 p-0;
		&:first-child {
			@apply ml-0;
		}
		svg {
			@apply w-full h-full;
		}
	}
}
