//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------

.site-header {
	@apply relative  left-0 right-0 top-0 h-100 md:h-200 z-30 text-brown-dark transform-gpu transition-all duration-200;
	.navigation-menu .menu li a {
		line-height: 7.75;
	}
	&.default {
		@apply bg-white text-brown-dark;
		border-bottom: 1px solid rgb( 0 0 0 / 16% );
	}
	&.bg-transparent-text-dark {
		@apply text-white;
		@screen md {
			@apply text-brown-dark;
		}
		&.menu-group-active,
		&.product-menu-active {
			@apply bg-white text-brown-dark;

			.menu-item-active,
			.products-trigger {
				@apply text-brown-dark;
			}
		}
	}
	&.bg-transparent-text-light {
		@apply text-white;
		&:hover,
		&.menu-group-active,
		&.product-menu-active {
			@apply bg-white text-brown-dark;

			.menu-item-active,
			.products-trigger {
				@apply text-brown-dark;
			}
		}
	}
	&.menu-group-active,
	&.product-menu-active {
		@apply text-gray-medium;
		.menu-item-active,
		.products-trigger {
			@apply text-brown-dark;
		}
	}
	&.stickyy-enabled {
		@apply bg-white text-brown-dark;
		.logo {
			svg {
				@apply scale-100;
			}
		}
	}

	a,
	path,
	ellipse {
		@apply transition-colors;
	}
	> .header-container {
		@apply relative px-30 md:px-40 grid grid-cols-12 items-center;
	}

	.nav-left {
		@apply col-span-5;
	}
	.logo {
		@apply col-span-6 md:col-span-2 md:text-center leading-none;
		a {
			@apply max-w-full w-80;
			@screen md {
				@apply w-auto;
			}
			svg {
				@apply w-full;
				width: 73px;
				@screen md {
					width: 113px;
				}
				@apply transition-transform transform-gpu scale-100;

				backface-visibility: hidden;
			}
		}
	}

	.nav-right {
		@apply col-span-5 col-start-10 justify-self-end;
	}
}
.guide {
	@apply absolute h-80 top-0 left-0;
}
.header-spacer {
	@apply h-0 relative;
	@screen md {
		&.sticky-enabled-header {
			@apply h-0;
		}
	}
}
.site-alert {
	@apply bg-tan text-brown-dark relative transition-colors z-20 whitespace-nowrap hidden md:block;
	> .container {
		@apply px-40;
	}
	@at-root .page-template-template-product & {
		@apply bg-white;
	}
}
