body.page-template-template-home {
	@apply bg-tan;
}
.hero,
.about,
.about-reviews,
.story-scroller,
.product-carousel {
	@apply relative z-10 bg-tan;
}
// * {
// 	outline: 1px solid rgba( 255, 0, 0, 0.125 );
// }

.hero {
	@apply relative overflow-hidden md:max-h-screen md:-top-140;

	height: 150vw;
	overflow: hidden;
	@screen md {
		height: calc( 100vh - 3.75rem );
		max-height: 56.26vw;
	}

	&-content {
		@apply absolute bottom-0 container flex flex-col md:flex-row md:items-end md:justify-between z-10;
		@screen md {
			@apply container-l pl-140 w-full;
		}
		&-title {
			@apply leading-tight text-40 md:text-60 text-white font-serif mb-30 md:mb-68;
			line-height: 1.2;
		}
	}
	&-gradient-svg {
		@apply absolute inset-0 z-10 mix-blend-multiply;
		svg {
			@apply w-full h-full absolute inset-0;
		}
	}
	&-gradient {
		@apply absolute top-0 left-0 right-0 bg-gradient-to-b from-black z-10 opacity-20;
		bottom: 60%;
		&.gradient-bottom {
			@apply bg-gradient-to-t bottom-0 opacity-50;
			top: 60%;
		}
	}
	&-video {
		@apply absolute w-full h-full inset-0 z-0;
		iframe {
			@apply absolute left-1/2 top-1/2 hidden md:block pointer-events-none;
			width: 110vw;
			height: 52.85vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
			min-height: 100vh;
			min-width: 233.33vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
			transform: translate( -50%, -50% );
		}
	}
}
.intro {
	@extend .container;
	@apply relative flex flex-col md:flex-row pt-50 md:pt-0 pb-50 md:pb-100 items-center overflow-hidden;
	&-left {
		@apply relative w-2/3 self-start md:self-end -left-1/4 order-3 md:order-1;
		padding-top: 75%;
		@screen md {
			@apply pt-0 left-0 w-1/4 h-auto;
		}
		&-a {
			@apply absolute;
			left: 20%;
			right: 20%;
			top: 0;
			z-index: 1;
			@screen md {
				@apply relative w-2/3 left-1/4 -top-120 md:-top-100;
			}
		}
		&-b {
			@apply absolute bottom-0 w-full;
			@screen md {
				@apply w-full;
			}
		}
	}
	&-right {
		@apply relative w-2/3 self-end -right-1/4 order-1 md:order-3;
		padding-top: 75%;
		@screen md {
			@apply pt-0 w-1/4 self-start h-auto right-0;
		}
		&-a {
			@apply absolute top-0 w-full;
			@screen md {
				@apply w-full;
			}
		}
		&-b {
			@apply absolute;
			left: 26%;
			top: 10%;
			@screen md {
				@apply relative w-2/3 left-1/4 top-1/4;
			}
		}
	}
	&-content {
		@apply md:w-1/2 md:pb-200 md:pt-100 text-center order-2;
		&-inner {
			@apply relative;
			&::after {
				content: '';
				@apply absolute w-px bg-brown-dark h-120;
			}
			h2 {
				@apply text-44 md:text-80 font-serif text-center mb-0;
				span {
					@apply block text-16 md:text-24 font-sans;
				}
			}
			p {
				@apply md:text-24 font-sans-alt mx-0 md:mx-30 xl:mx-100 pb-30;
			}
		}
	}
	&-image {
		img {
			@apply rounded-lg w-full;
		}
		@apply overflow-hidden;
		line-height: 0;
	}
}
.section-title {
	@apply container my-200;
	&.section-title-mb-0 {
		@apply mb-0;
	}
	&-content {
		@apply text-center;
		@screen md {
			@apply w-3/4 mx-auto;
		}
		&-p {
			@apply md:text-24 mb-36;
		}
		&-h {
			@apply text-28 md:text-48 mb-0 font-serif;
		}
	}
}
.cards {
	&-container{
		@apply overflow-x-hidden;
	}
	@apply flex  flex-nowrap;
	.card {
		@apply h-screen flex-shrink-0 flex items-center;

		&.active{
			.card-content {
				@apply translate-y-0 opacity-100;
			}
		}
		&:first-child{
			width: 33vw;
			@apply opacity-30;
			 .card-inner{
				border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			}
		}
		&:last-child{
			width: 30vw;
		}
		&:not( :last-child ) {
			@apply mr-30;
		}

		&-inner {
			@apply bg-cover bg-center relative  rounded-xl overflow-hidden flex items-end;
			@apply transition-transform transform-gpu -translate-y-20 duration-1000;
			height: 80vw;
			width: 80vw;
			max-width: 60rem;
			max-height: 60rem;
			@screen md{
				height: 47vw;
			width: 60vw;
			@at-root .trigger-is-active &{
				@apply translate-y-0;
			}
			}
		}
		&-bg {
			@apply absolute inset-0;
		}
		&-gradient {
			@apply absolute inset-0 bg-gradient-to-t from-black opacity-60;
		}
		&-content {
			@apply p-40 md:pl-80 md:pb-80 md:pr-20 text-white  transform-gpu translate-y-10 opacity-70 transition-all duration-1000;
			&-title {
				@apply text-32 md:text-48;
			}
			&-p {
				@apply mb-0 lg:w-1/2;
			}
		}
	}
}
.section-info {
	@apply container flex flex-col md:flex-row justify-between;
	&.section-process {
		@apply mb-200;
	}
	&-a {
		@apply relative w-full md:w-6/12;

		&-video {
			@apply relative leading-none rounded-lg overflow-hidden;
			height: 90vw;
			@screen md {
				height: 26vw;
			}
			img {
				@apply max-w-none object-cover object-center min-w-full min-h-full w-full;
			}
			&-gradient {
				@apply absolute inset-0 bg-gradient-to-t from-black opacity-60;
			}
			svg {
				@apply w-80 md:w-140 absolute top-1/2 left-1/2 transform-gpu -translate-y-1/2 -translate-x-1/2;
			}
		}
	}
	&-b {
		@apply relative w-full md:w-4/12 text-center;
		&-p {
			@apply mt-80 mb-30 md:mt-100 mx-20  md:text-28 font-sans-alt;
		}
		&-line {
			@apply my-60;
			.line {
				@apply w-px h-50 md:h-140 mx-auto bg-black;
			}
		}
		&-image {
			@apply text-center mx-20;
			img {
				@apply w-full rounded-lg;
			}
		}
	}
}
.section-testimonials {
	@apply container flex justify-center mb-200 mt-100 overflow-hidden;
	@screen md {
		@apply w-full;
	}
	.section-testimonial {
		@apply w-full md:w-6/12 bg-primary overflow-hidden;
		border-radius: 6.25rem 6.25rem 6.25rem 0;
		&:not( :last-child ) {
			@apply mr-60;
			@apply hidden md:block;
		}
		&-inner {
			@apply h-0 relative;
			padding-top: 100%;
			@screen md {
				padding-top: 70%;
			}
		}
		&-content {
			@apply absolute bottom-0 left-0 right-0 p-40 text-white;
			&-title {
				@apply text-24 md:text-48;
			}
			&-p {
				@apply w-full md:w-4/5;
			}
		}
	}
}
.about {
	@apply relative bg-tan pt-200 pb-200 text-brown-dark;
	&-images {
		@apply flex overflow-hidden mb-68;
		border-top-left-radius: 18.75rem;
		img {
			@apply w-1/3;
		}
	}
	&-content {
		@apply relative flex flex-col md:flex-row items-center;
		&-title {
			@apply font-serif pt-30 whitespace-nowrap mr-68;
			font-size: 4.5rem;
		}
		&-p {
			@apply text-24 pr-50 pt-30 border-t;
		}
	}
}
.about-reviews {
	@apply py-160 flex bg-white bg-opacity-80;
	&-title {
		@apply text-24 mb-40 w-full flex-none;
		&-text {
			@apply inline-block pb-10 border-b;
		}
	}
	&-cols {
		@apply flex;
	}
	&-col {
		@apply w-1/3;
		&:first-child {
			@apply overflow-hidden;
			border-top-left-radius: 18.75rem;
		}
		&:not( :last-child ) {
			@apply mr-16;
		}
	}
	&-image {
		img {
			@apply object-fill;
		}
	}
	&-content {
		@apply mt-60;
		&-p {
			@apply text-24;
			min-height: 10rem;
		}
		&-name {
			@apply font-sans-alt text-24;
		}
	}
}
.star-group {
	@apply flex;
	svg {
		@apply w-16 h-16;
		:not( :last-child ) {
			@apply mr-3;
		}
	}
}
.story-scroller {
	@apply relative py-160 overflow-hidden;

	p {
		@apply font-sans-alt text-28 mb-60;
	}
	.story-container {
		@apply flex flex-col relative overflow-x-scroll overflow-y-hidden;
		cursor: -webkit-grab;
		cursor: grab;
		&.active {
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}
		.story-content,
		.story-footer {
			width: 300vw;
			@extend .container-l;
		}
		.story-content {
			@apply flex;
			.story-item {
				&:not( :first-child ) {
					margin-left: 5vw;
					@screen md {
						margin-left: 15vw;
					}
				}
				@screen md {
					width: inherit;
				}
			}

			.story-a {
				@apply relative;
				width: 40vw;

				&-video {
					@apply relative leading-none;
					img {
						@apply w-full;
					}
					svg {
						@apply absolute top-1/2 left-1/2 transform-gpu -translate-y-1/2 -translate-x-1/2;
					}
				}
			}

			.story-b {
				@apply relative;
				width: 25vw;

				&-line {
					@apply my-60;
					.line {
						@apply w-px h-200 mx-auto bg-black;
						width: 1.5px;
					}
				}
				&-image {
					@apply text-center mx-20;
					img {
						@apply w-full;
					}
				}
			}

			.story-c {
				@apply flex justify-between items-center self-start relative;
				width: 80vw;

				&-image {
					@apply w-6/12;
				}
				&-content {
					@apply w-5/12;
					&-title {
						@apply text-80 mb-32;
					}
					&-p:last-child {
						@apply mb-0;
					}
				}
			}

			.story-d {
				@apply relative;
				width: 28vw;
				&-content {
					@apply flex flex-col text-center;

					&-icon {
						@apply mx-auto mb-75 w-160 h-160;

						svg {
							@apply w-full h-full;
						}
					}
					&-image {
						@apply relative;
						img {
							@apply absolute;
						}
					}
				}
			}

			.story-e {
				@apply relative;
				width: 44vw;
				&-content {
					@apply flex flex-col;
					&-title {
						@apply w-full flex-none text-100 mb-32;
					}
					&-section {
						@apply w-full flex;
						img {
							@apply w-1/3 mr-40;
						}
						&-p {
							@apply mb-0;
						}
					}
				}
			}
		}
		.story-footer {
			@apply flex flex-col  mt-140;
			&-above {
				@apply w-full mb-20;
				&-p {
					@apply text-24 mb-0;
				}
			}
			&-line {
				@apply w-full flex-none h-px bg-gray;
			}
			&-below {
				@apply w-full flex items-center mt-20 mb-40;
				&-a {
					@apply relative flex items-center justify-between;
					width: 95vw;
					&-text {
						@apply text-80 mb-0;
					}
					.story-nav {
						@apply mr-140;
						svg {
							width: 5.3rem;
							height: 2.5rem;
						}
					}
				}
				&-b {
					@apply relative;
					width: 161vw;
					&-text {
						@apply text-20 mb-10;
					}
					&-p {
						@apply mb-0;
					}
				}
				&-c {
					@apply flex items-center text-black ml-0 mr-140;
					&-text {
						@apply flex-none text-40 border-b mr-20 pb-10;
					}
					&-button {
						@apply rounded-3xl border border-solid border-current text-current py-10 w-75 text-center bg-transparent;
						&:hover {
							svg {
								@apply translate-x-3;
							}
						}
						svg {
							@apply mx-auto transform-gpu transition-transform;
						}
					}
				}
			}
		}
	}
}
