.hero-product {
	@apply flex flex-col md:flex-row justify-between text-brown-dark;
	@screen md {
		@apply container;
		@apply pr-0;
	}
	&-info {
		@apply container;
		@apply relative z-10 flex-none mx-0 md:mr-80 -mt-30 md:mt-100 md:mb-200 order-2 md:order-1;
		@screen md {
			@apply w-1/2 px-0;
		}
		@screen lg {
			width: 34%;
		}
		&-pretitle {
			@apply md:text-24 font-sans-alt;
		}
		&-description {
			@apply md:text-28;
		}
		h1 {
			@apply text-48 md:text-100;
		}
	}
	&-bg {
		@apply relative w-full order-1 md:order-2;
		height: 30rem;
		height: calc( 100vh - 20rem );
		min-height: 30rem;
		max-height: 62rem;
		@screen md {
			height: 40rem;
			height: calc( 100vh - 12.5rem );
		}

		@screen lg {
			min-height: 50rem;
			width: 53%;
		}
		&-circle-overlay {
			@apply absolute -bottom-px left-0 right-0 h-150 w-full;
			border-top-left-radius: 9.375rem;
			@screen md {
				@apply hidden;
			}
		}
	}
	&-image {
		@apply absolute inset-0 bg-cover bg-fixed md:bg-scroll;
		@screen md {
			border-top-left-radius: 31.25rem;
		}
	}
}
.product-features {
	@apply relative flex flex-col md:flex-row items-center md:py-160 md:my-160 container;
	@screen md {
		@apply pr-0;
	}
	&-graphic {
		@apply relative text-center md:w-1/3 flex-none;
		svg {
			@apply mx-auto hidden md:block;
		}
		&-line {
			@apply w-px bg-brown-dark relative my-20 md:my-0 md:absolute md:left-1/2 h-80 bottom-0;
			@screen md {
				height: 26.313rem;
				bottom: 190%;
			}
		}
	}
	&-image {
		@apply md:w-1/3 overflow-hidden w-full;

	}
	&-list {
		@apply text-brown md:w-1/3 md:mr-100;
		&-title {
			@apply text-48 font-serif mb-30;
		}
		ul {
			@apply py-30 md:py-0 mx-20 md:mx-0;

			@apply list-none;
			li {
				@apply flex items-center text-20 md:text-28;
				&:not( :last-child ) {
					@apply mb-20 md:mb-60;
				}
				.icon {
					@apply w-20 h-20 md:h-40 md:w-40 mr-20 flex-none;
					svg {
						@apply mx-auto w-full h-full;
					}
				}
				.label {
					@apply relative;
				}
			}
		}
	}
}

.cover {
	&.cover-rounded {
		@apply overflow-hidden;
		border-top-left-radius: 18.75rem;

		@screen md {
			border-top-left-radius: 9.375rem;
		}
	}
	.cover-bg {
		@apply relative bg-cover bg-center;
	}
	.cover-backdrop {
		@apply absolute inset-0 bg-gradient-to-t from-black opacity-60;
	}
	.cover-content {
		@apply relative text-white  pb-120;
		padding-top: 27rem;
		&-title {
			@apply text-30 md:text-60 leading-tight mb-50 text-white;
		}
		&-p {
			@apply text-24 leading-30 w-full md:w-2/3;
			@screen lg {
				@apply w-1/2;
			}
			@screen xl {
				@apply w-2/5;
			}
		}
	}
}

.recipes-container {
	@apply mb-200;
	.section-title-bars {
		@apply container mb-100;
	}
}

.p-reviews {
	@apply mb-150;
	&-title {
		@apply font-sans-alt text-28 text-center py-24 border-t border-b border-current;
	}
	&-info {
		@apply mt-192 mb-50 flex justify-between;
		&-numbers {
			@apply flex items-center;
		}
		&-number {
			@apply text-60 font-sans-alt leading-none mr-20;
		}
		&-stars {
			@apply flex mb-10;
			svg {
				@apply mr-10;
			}
		}
		&-total {
			@apply text-16 text-gray;
		}
	}
	.p-review-group {
		@apply flex py-50 my-50 border-t border-b border-current;
		.p-review-item {
			@apply flex w-1/3;
			&-icon {
				@apply flex-none flex items-center relative rounded-full w-64 h-64 bg-primary mr-20;
				&-text {
					@apply w-full text-center font-bold;
				}
				&-checkmark {
					@apply absolute bottom-0 right-0;
				}
			}
			&-content {
				&-name {
					@apply text-16 font-sans-alt;
				}
				svg {
					@apply w-16 h-16 mr-3;
				}
				.verified {
					@apply text-14 mb-24;
				}
				.p-review-item-title {
					@apply text-20 font-sans-alt mb-20;
				}
				.p-review-item-title-p {
					@apply w-4/5 text-16 leading-28;
				}
				.p-review-item-date {
					@apply text-14;
				}
			}
		}
	}
}
